#img-bg{
    background-image: url('https://guiaanimal.net/uploads/content/image/36035/tartaruga_4.png');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.laranja{
    background-color: orangered;
}

.p1 {
    font-family: 'Xilosa', sans-serif;
    
  }

  